.form{
    width: 50%;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
}
.form-field{
    margin: 1rem 0;
    display: flex;
}
.form-field label {
    flex-basis: 20%;
}
.form-field input{
    flex-basis: 80%;
    border: none;
    padding: 0.2rem;
    border-radius: 0.6rem;

}
.form-field textarea{
    flex-basis: 80%;
    border: none;
    padding: 0.2rem;
    border-radius: 0.6rem;
    resize: none;
}
.form button{
    cursor: pointer;
    border: none;
    display:block;
    border-radius: 0.6rem;
    width: 50%;
    margin: 0 auto;
}
.form button:hover{
    background-color: orange;
    color: white;
}